<h1>This is the page where for all cars </h1>
<% @cars.each do |car| %>
<h3><%= car.name %></h3>
<p>CAR PRICE = <%=car.price%></p>
<p>Model = <%=car.model %></p>
<p>Rating = <%=car.rating%></p>
<p>Description = <%=car.description %></p>
<%# <p><%=car.review</p> %>
<% end  %>
